  <p>
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    <a class="contact-link" href="mailto:wesleybdavis@gmail.com">wesleybdavis@gmail.com</a>
  </p>
  <p>
    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
    917-526-9702
  </p>

  {{outlet}}

