
<div class="container">

  {{!-- Top navbar --}}
  <div id="top-navigation" class="text-xs-center">
    <h2 id="name-header">Wesley Davis</h2>
    <ul class="list-inline top-nav-wrapper">
      <li class="list-inline-item">
        <a class="top-nav-link" href="#about-me">about me</a>
      </li>
      |
      <li class="list-inline-item">
        <a class="top-nav-link" href="#projects">projects</a>
      </li>
      |
      <li class="list-inline-item top-nav-link">
        <a class="top-nav-link" href="#resume">resume</a>
      </li>
      |
      <li class="list-inline-item top-nav-link">
        <a class="top-nav-link" href="#skills">skills</a>
      </li>
    </ul>
  </div>
  {{!-- End top navbar --}}

  {{outlet}}
</div>