
<div class="container">

  {{!-- Top navbar --}}
  <div id="top-navigation" class="text-xs-center">
    <h2 id="name-header">Wesley Davis</h2>
    <ul class="list-inline top-nav-wrapper">
      <li class="list-inline-item">
        {{#link-to 'about' class='top-nav-link'}}
        about me
        {{/link-to}}
      </li>
      |
      <li class="list-inline-item">
        {{#link-to 'projects' class='top-nav-link'}}
        projects
        {{/link-to}}
      </li>
      |
      <li class="list-inline-item top-nav-link">
       {{#link-to 'resume' class='top-nav-link'}}
        resume
        {{/link-to}}
      </li>
      |
      <li class="list-inline-item top-nav-link">
        {{#link-to 'skills' class='top-nav-link'}}
        skills
        {{/link-to}}
      </li>
    </ul>
  </div>
  {{!-- End top navbar --}}

  <hr>
  <br>
  
  {{outlet}}

  <br>
</div>