{{!-- Projects --}}
<div id="projects">

  <div class="project-container">

    {{!-- Image and link --}}
    <div class="project-image">
      <a href="http://drinkupnyc.herokuapp.com/" class="project-tile-link" target="_blank">
        <img class="project-tile" src="images/drinkup-nyc.png">
        <div class="project-hover">See live page</div>
      </a>
    </div>

    {{!-- Title and tools --}}
    <div class="project-desc">
      <h4 class="project-title">Drink Up - NYC
      </h4>
      <ul class="list-inline">
        <li class="list-inline-item">
          Rails 4
        </li>
        |
        <li class="list-inline-item">
          jQuery
        </li>
        |
        <li class="list-inline-item">
          Mapbox GL
        </li>
      </ul>

      {{!-- Description --}}
      <p class="project-text">Social media site for the NYC bar scene–including achievement tracking, Facebook authentication, and intuitive neighborhood searching.</p>

      {{!-- Github and live links --}}
      <ul class="list-inline">
        <li><a class="project-github-link" href="https://github.com/PoloPro/NYC-Bar-Project" target="_blank">View it on Github</a></li>
        |
        <li><a class="project-live-link" href="http://drinkupnyc.herokuapp.com/" target="_blank">View it on Heroku</a></li>
      </ul>
    </div>
  </div>

  <br>

  <div class="project-container">

    {{!-- Image and link --}}
    <div class="project-image">
      <a href="http://flatiron-islands.herokuapp.com/" class="project-tile-link" target="_blank">
        <img class="project-tile" src="images/flatiron-islands.png" height="250" width="300">
      </a>
    </div>

    {{!-- Title and tools --}}
    <div class="project-desc">
      <h4 class="project-title">Escape the Flatiron Islands
      </h4>
      <ul class="list-inline">
        <li class="list-inline-item">
          Ember.js
        </li>
        |
        <li class="list-inline-item">
          Phaser.js
        </li>
        |
        <li class="list-inline-item">
          Rails API
        </li>
      </ul>

      {{!-- Description --}}
      <p class="project-text">Browser game inspired by Game of Thrones, featuring procedurally generated maps and scaling difficulty.</p>

      {{!-- Github and live links --}}
      <ul class="list-inline">
        <li><a class="project-github-link" href="https://github.com/hdwatts/potato-frontend" target="_blank">View it on Github</a></li>
        |
        <li><a class="project-live-link" href="http://flatiron-islands.herokuapp.com/" target="_blank">View it on Heroku</a></li>
      </ul>
    </div>
  </div>

  <br>

  <div class="project-container">

    {{!-- Image and link --}}
    <div class="project-image">
      <a href="http://afterthought-flatiron.herokuapp.com/" class="project-tile-link" target="_blank">
        <img class="project-tile" src="images/afterthought.png" height="250" width="300">
      </a>
    </div>

    {{!-- Title and tools --}}
    <div class="project-desc">
      <h4 class="project-title">Afterthought
      </h4>
      <ul class="list-inline">
        <li class="list-inline-item">
          Rails 5
        </li>
        |
        <li class="list-inline-item">
          jQuery
        </li>
      </ul>

      {{!-- Description --}}
      <p class="project-text">Online portal connecting Flatiron students and instructors via lecture feedback, with focus on a clear, responsive user experience.</p>

      {{!-- Github and live links --}}
      <ul class="list-inline">
        <li><a class="project-github-link" href="https://github.com/PoloPro/afterthought" target="_blank">View it on Github</a></li>
        |
        <li><a class="project-live-link" href="http://afterthought-flatiron.herokuapp.com/" target="_blank">View it on Heroku</a></li>
      </ul>
    </div>
  </div>
</div>
