{{!-- Projects --}}
<div id="projects">

  <div class="project-container">

    {{!-- Image and link --}}
    <div class="project-image">
      <a href="http://drinkupnyc.herokuapp.com/" class="project-tile-link" target="_blank">
        <img class="project-tile" src="images/drinkup-nyc.png" height="250" width="300">
      </a>
    </div>

    {{!-- Description and tools --}}
    <div class="project-desc">
      <h4 class="project-title">Drink Up - NYC
      </h4>
      <ul class="list-inline">
        <li class="list-inline-item">
          Rails
        </li>
        |
        <li class="list-inline-item">
          jQuery
        </li>
      </ul>
      <p></p>
    </div>
  </div>

  <br>

  <div class="project-container">

    {{!-- Image and link --}}
    <div class="project-image">
      <a href="http://flatiron-islands.herokuapp.com/" class="project-tile-link" target="_blank">
        <img class="project-tile" src="images/flatiron-islands.png" height="250" width="300">
      </a>
    </div>

    {{!-- Description and tools --}}
    <div class="project-desc">
      <h4 class="project-title">Escape the Flatiron Islands
      </h4>
      <ul class="list-inline">
        <li class="list-inline-item">
          Ember.js
        </li>
        |
        <li class="list-inline-item">
          Phaser.js
        </li>
        |
        <li class="list-inline-item">
          Rails API
        </li>
      </ul>
      <p></p>
    </div>
  </div>

  <br>

  <div class="project-container">

    {{!-- Image and link --}}
    <div class="project-image">
      <a href="http://afterthought-flatiron.herokuapp.com/" class="project-tile-link" target="_blank">
        <img class="project-tile" src="images/afterthought.png" height="250" width="300">
      </a>
    </div>

    {{!-- Description and tools --}}
    <div class="project-desc">
      <h4 class="project-title">Afterthought
      </h4>
      <ul class="list-inline">
        <li class="list-inline-item">
          Rails
        </li>
        |
        <li class="list-inline-item">
          jQuery
        </li>
      </ul>
      <p></p>
    </div>
  </div>
</div>
